body {
    background-color: lightblue;
    text-align: center;
}
  
main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}
  
h1 {
    color: cornflowerblue;
    text-align: center;
}
h2 {
    color: lightblue;
    text-align: center;
}
img {
    width: 50%;
}
nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}
.flexCustom {
    display: flex;
    justify-content: center;
}
.flexCustom section {
    width: 40%;
    min-height: 30vh;
}
.flexCustom section img {
    width: 90%;
    height: auto;
}
hr {
    width: 87.25%;
    height: 2px;
    background-color: #767676;
    border: none;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}